$lightBlue : #36ACD8;
$primary-background : #464648;
.app {
    display: flex;
    justify-content: center;
    .container{
        width: 100%;
        min-height: 100vh;
        background-color: $primary-background;
        flex-direction: row;
        justify-content: center;
        
        display:flex;

        .link {
            text-decoration: none;
            color: inherit;
        }
        .auth{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        
            h1 {
                font-size: 20px;
                color: white;
                margin-bottom: 20px;
            }
        
            form {
                display: flex;
                flex-direction: column;
                padding: 40px;
                background-color: white;
                width: 200px;
                gap: 17px;
        
                input {
                    padding: 10px;
                    border:none;
                    border-bottom: 1px solid gray ;
                }
                button {
                    padding: 10px;
                    border: none;
                    background-color: gray;
                    cursor: pointer;
                    color: white;
                }
                p{
                    font-size: 14px;
                    color: red;
                    text-align: center;
                }
        
                span {
                    font-size: 14px;
                    text-align: center;
                }
            }
        }

        .navbar{
            .container {
                padding: 10px 0px;
                display: flex;
                justify-content: space-between;
                .logo{
                    display: flex;
                }
                .links{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
            
        }
    }
}

.title-text{
    font-weight: 800;
    font-size: 3rem !important;
    color: white !important;
    text-align: center;
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

}

.app__buttons{
    text-align: center;
    justify-content: center;
    margin: 1rem 0 1rem;
}

.app__input{
    border-radius: 7px;
    width: 20rem;
    height: 2rem;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.app__button{
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background-color: white;
    cursor: pointer;
    margin: 0.5rem;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.app__form{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem 0 1rem;
}

.app__button-text{
    text-decoration: none;
    color: #000;
    font-weight: 800;
    cursor: pointer;
}