.app {
    //display: flex;
    justify-content: center;
    padding: 40px 80px;

    .container {
        width: 1024px;



        .navbar {
            .container {
                padding: 10px 0px;
                display: flex;
                justify-content: space-between;

                .logo {
                    display: flex;
                }

                .links {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }

        }
    }
}

.link {
    text-decoration: none !important;
    color: inherit;

    :hover {
        text-decoration: underline !important;
    }
}

.app_task{
    margin:0.6rem !important;
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    h1 {
        font-size: 20px;
        color: black;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 40px;
        width: 200px;
        gap: 17px;

        input {
            padding: 10px;
            border: none;
            border-bottom: 1px solid gray;
        }

        button {
            padding: 10px;
            border: none;
            background-color: gray;
            cursor: pointer;
            color: white;
        }

        p {
            font-size: 14px;
            color: red;
            text-align: center;
        }

        span {
            font-size: 14px;
            text-align: center;
        }
    }
}

.app__section-element {
    margin: 0.5rem 0 0.5rem !important;
}

.app__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.app__org-menu {
    margin: 0.5rem 0 0.5rem;
}

.app__profile-org-menu{
    margin: 0.5rem 0 0.5rem;
    display: flex;
    flex-direction: row;

    .app__profile-org{
        padding: 0 0.2rem 0 0.2rem;
    }
}

.app__element{
    margin: 1rem 0 1rem !important;
}

.app__org-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .app__org {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 4px;
        height: 150px;
        min-width: 180px;
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 0.7);
        border: 1.5px solid black;
        text-decoration: none;
        color: inherit;
    }
}

.title-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.title-section {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.app__profile-element {
    padding: 1rem 0 1rem;
    text-align: center;

}

.centerElements {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.orgPage {
    display: flex;
    text-align:center;
    flex-direction: column;

    .tasks {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        .task {
            text-decoration: none;
            color: inherit;
            margin: 0.5rem;
            box-sizing: border-box;
            padding: 10px;
            background: white;
            border-radius: 12px;
            margin-bottom: 4px;
            box-shadow: 0 2px 4px 0px lightgray;
        }
    }

    .addUserForm {
        padding: 10px;
        input {
            padding: 10px;
        }
        label {
            padding-left: 15px;
        }
    }

}



.homepage {
    display: flex;
    padding: 20px;
    text-align: center;
    flex-direction: column;

    .UserTodoList {
        display: flex;
        flex-direction: column;
        padding-right: 40px;

        .todoTask {
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
    }
}